<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/mainpage.css">
</head>
<body>
  <div align= "left">
<nav role="navigation">

  <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <img src="/static/images/login images.png" height="100" width="100" alt="logo" class="logo">  
        <a href="school"><li>School</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Info</li></a>
        <a href="#"><li>Contact</li></a>
        <a href="logout"><li>Log out</li></a>
        <a href="" target="_blank"><li></li></a>
      </ul>
    </div>
  </nav>
  <div class="side" align ="right" padding =0px>
    <span id ="side">
         <a href="signup">Sign up</a> or <a href="login">Log in</a> 
    </span>
  </div>
  </div>

  <div class="body" >
    dgsfhdgjkfhk
{%block body%}

{%endblock%}
</div>
</body>
</html>